@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400&family=Playfair+Display&display=swap");
:root {
  --main-font: "Playfair Display";
  --logo-font: "Dosis";
  --content-font: "Trebuchet MS";

  --color-primary: #242424;
  --color-secondary: white;
  --color-tertiary: aquamarine;

  --btn-primary: white;
  --btn-text: #242424;

  --nav-text: white;
  --nav-background: linear-gradient(
    90deg,
    rgb(28, 27, 27) 0%,
    rgb(26, 23, 23) 100%
  );
}
